.cabe ul{
    list-style-type: none;
    background-color:rgb(94, 94, 94);
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;
    border-radius: 50px;
}
 li a{
    float: left;
    display: block;
    color: honeydew;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    
}
li a:hover{
    background-color: black;
}